In [20]:
# STEP 1: Install PySpark (if running in Colab)
!pip install pyspark

# STEP 2: Import Required Libraries
from pyspark.sql import SparkSession
from pyspark.sql.functions import hour, avg, count, sum, to_date, round

# STEP 3: Start Spark Session
spark = SparkSession.builder.appName("Big Data Analysis - Internship Task").getOrCreate()

# STEP 4: Load Dataset (Update with your actual file path in Colab/Drive)
data_path = "/content/yellow_tripdata_2015-01.csv"  # Change if needed
df = spark.read.csv(data_path, header=True, inferSchema=True)

# STEP 5: Basic Overview
df.printSchema()
df.show(5)

# STEP 6: Data Cleaning
df = df.dropna()

# STEP 7: Add Pickup Hour Column
df = df.withColumn("pickup_hour", hour(df["tpep_pickup_datetime"]))

# STEP 8: ANALYSIS

# 1. Average Trip Distance by Payment Type
print("1️⃣ Average Trip Distance by Payment Type:")
df.groupBy("payment_type").agg(avg("trip_distance").alias("avg_distance")).show()

# 2. Busiest Pickup Hours
print("2️⃣ Busiest Pickup Hours:")
df.groupBy("pickup_hour").agg(count("*").alias("total_rides")).orderBy("total_rides", ascending=False).show()

# 3. Top 20 Pickup Locations (using lat/long since PULocationID is not available)
print("3️⃣ Top 20 Pickup Locations:")
df = df.withColumn("pickup_location",round(df["pickup_latitude"], 3).cast("string") + "," + round(df["pickup_longitude"], 3).cast("string"))

df.groupBy("pickup_location").count().orderBy("count", ascending=False).limit(20).show(truncate=False)

# 4. Passenger Count Trend
print("4️⃣ Passenger Count Trend:")
df.groupBy("passenger_count").count().orderBy("count", ascending=False).show()

# 5. Daily Revenue
print("5️⃣ Revenue by Day:")
df = df.withColumn("date", to_date(df["tpep_pickup_datetime"]))
df.groupBy("date").agg(sum("total_amount").alias("daily_revenue")).orderBy("date").show()

# STEP 9: Stop Spark
spark.stop()

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)
root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- pickup_longitude: double (nullable = true)
 |-- pickup_latitude: double (nullable = true)
 |-- RateCodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- dropoff_longitude: double (nullable = true)
 |-- dropoff_latitude: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)

+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|  pickup_longitude|   pickup_latitude|RateCodeID|store_and_fwd_flag| dropoff_longitude|  dropoff_latitude|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|       2| 2015-01-15 19:05:39|  2015-01-15 19:23:42|              1|         1.59|  -73.993896484375|  40.7501106262207|         1|                 N|-73.97478485107422| 40.75061798095703|           1|       12.0|  1.0|    0.5|      3.25|         0.0|                  0.3|       17.05|
|       1| 2015-01-10 20:33:38|  2015-01-10 20:53:28|              1|          3.3|-74.00164794921875|  40.7242431640625|         1|                 N|-73.99441528320312| 40.75910949707031|           1|       14.5|  0.5|    0.5|       2.0|         0.0|                  0.3|        17.8|
|       1| 2015-01-10 20:33:38|  2015-01-10 20:43:41|              1|          1.8|-73.96334075927734| 40.80278778076172|         1|                 N|-73.95182037353516| 40.82441329956055|           2|        9.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        10.8|
|       1| 2015-01-10 20:33:39|  2015-01-10 20:35:31|              1|          0.5|-74.00908660888672| 40.71381759643555|         1|                 N|-74.00432586669922| 40.71998596191406|           2|        3.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         4.8|
|       1| 2015-01-10 20:33:39|  2015-01-10 20:52:58|              1|          3.0|-73.97117614746094|40.762428283691406|         1|                 N|-74.00418090820312|40.742652893066406|           2|       15.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        16.3|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
only showing top 5 rows

1️⃣ Average Trip Distance by Payment Type:
+------------+------------------+
|payment_type|      avg_distance|
+------------+------------------+
|           1|3.8990549665870584|
|           3| 2.730428831641952|
|           4|2.8344442523768363|
|           2|26.848788052833743|
|           5|               0.8|
+------------+------------------+

2️⃣ Busiest Pickup Hours:
+-----------+-----------+
|pickup_hour|total_rides|
+-----------+-----------+
|         18|     400847|
|         19|     391978|
|         20|     365084|
|         21|     359724|
|         22|     349849|
|         17|     326928|
|         15|     322906|
|         14|     319460|
|         13|     315308|
|         12|     313475|
|         11|     296313|
|         23|     291329|
|         16|     291265|
|          9|     288101|
|         10|     277735|
|          8|     275633|
|          0|     233947|
|          7|     230841|
|          1|     176297|
|          2|     130282|
+-----------+-----------+
only showing top 20 rows

3️⃣ Top 20 Pickup Locations:
+---------------+-------+
|pickup_location|count  |
+---------------+-------+
|NULL           |6313789|
+---------------+-------+

4️⃣ Passenger Count Trend:
+---------------+-------+
|passenger_count|  count|
+---------------+-------+
|              1|4455680|
|              2| 899125|
|              5| 344710|
|              3| 261392|
|              6| 224369|
|              4| 125207|
|              0|   3288|
|              7|      7|
|              8|      7|
|              9|      4|
+---------------+-------+

5️⃣ Revenue by Day:
+----------+------------------+
|      date|     daily_revenue|
+----------+------------------+
|2015-01-01| 2933437.169999191|
|2015-01-02|2558645.3899993487|
|2015-01-03|2652312.7899992536|
|2015-01-04|2429603.4999994696|
|2015-01-05| 2687282.259999336|
|2015-01-06|2978558.3999991855|
|2015-01-07|3210820.3199990555|
|2015-01-08| 3374803.749999078|
|2015-01-09| 3246505.259999079|
|2015-01-10| 3423632.249998893|
|2015-01-11|3010111.6399991917|
|2015-01-12|2937110.8299992485|
|2015-01-13|3430802.8699990297|
|2015-01-14| 3322938.959999096|
|2015-01-15|3517683.9799990617|
|2015-01-16|3523764.1799990623|
|2015-01-17| 3408620.239998893|
|2015-01-18| 2989112.599999137|
|2015-01-19|2561464.2999994117|
|2015-01-20|3140592.7899991684|
+----------+------------------+
only showing top 20 rows